.navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.navbar .container-fluid {
    justify-content: space-around;
}

.btn {
    width: 32px;
    aspect-ratio: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.btn-home {
    background-image: url(../../../../public/assets/icons/house.svg);
}

.btn-new-entry {
    background-image: url(../../../../public/assets/icons/plus-circle.svg);
}

.btn-settings {
    background-image: url(../../../../public/assets/icons/gear.svg);
}