.pet-card:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.pet-card .card-body {
    display: flex;
    justify-content: space-between;
}

.pet-card .btn-add {
    background-image: url(../../../../public/assets/icons/plus-circle-fill.svg);
}